.popular{
    display: flex  ;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
    margin-top: 12px;
    margin-bottom: 100px;
}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.popular_item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 20px;
}
@media(max-width:1280px){
    .popular{
        margin-top: 10px;
        margin-bottom: 70px;
    }
    .popular h1{
        font-size: 40px;
    }
    .popular hr{
        width: 160px;
        height:4px;
    }
    .popular_item{
        grid-template-columns: 1fr 1fr 1fr;
        gap:15px;
        margin-top:20px;
    }
}
@media(max-width:1024px){
    .popular{
        margin-top: 10px;
        margin-bottom: 60px;
    }
    .popular h1{
        font-size: 30px;
    }
    .popular hr{
        width: 120px;
        height:4px;
    }
    .popular_item{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:12px;
        margin-top:15px;
    }
}
@media(max-width:800px){
    .popular{
        gap:8px;
        margin-top: 8px;
        margin-bottom: 50px;
    }
    .popular h1{
        font-size:24px;
    }
    .popular hr{
        width: 100px;
        height: 3px;
    }
    .popular_item{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:8px;
        margin-top:12px;
    }
}
@media(max-width:600px){
    .popular{
        gap:8px;
        margin-top: 8px;
        margin-bottom: 50px;
    }
    .popular h1{
        font-size:20px;
    }
    .popular hr{
        width: 90px;
        height: 2.5px;
    }
    .popular_item{
        grid-template-columns: 1fr 1fr;
        gap:12px;
        margin-top:15px;
    }
}
@media(max-width:500px){
    .popular{
        gap:8px;
        margin-top: 6px;
        margin-bottom: 40px;
    }
    .popular h1{
        font-size:18px;
    }
    .popular hr{
        width: 80px;
        height: 2px;
    }
    .popular_item{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        margin-top: 15px;
    }
}